MatchStatistics6-WebServices+JPA/MatchStatisticsClient/src/conf/xml-resources/web-service-references/ManageContainerService/wsdl/localhost_8080/MatchStatisticsWebService/ManageContainerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webServices.salicki.pawel.lab6.polsl.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webServices.salicki.pawel.lab6.polsl.pl/" name="ManageContainerService">
<types>
<xsd:schema>
<xsd:import namespace="http://webServices.salicki.pawel.lab6.polsl.pl/" schemaLocation="http://localhost:8080/MatchStatisticsWebService/ManageContainerService?xsd=1"/>
</xsd:schema>
</types>
<message name="showDatabaseMatchesList">
<part name="parameters" element="tns:showDatabaseMatchesList"/>
</message>
<message name="showDatabaseMatchesListResponse">
<part name="parameters" element="tns:showDatabaseMatchesListResponse"/>
</message>
<message name="showDatabaseArbitersList">
<part name="parameters" element="tns:showDatabaseArbitersList"/>
</message>
<message name="showDatabaseArbitersListResponse">
<part name="parameters" element="tns:showDatabaseArbitersListResponse"/>
</message>
<message name="showDatabaseTeamList">
<part name="parameters" element="tns:showDatabaseTeamList"/>
</message>
<message name="showDatabaseTeamListResponse">
<part name="parameters" element="tns:showDatabaseTeamListResponse"/>
</message>
<message name="showDatabasePlayersList">
<part name="parameters" element="tns:showDatabasePlayersList"/>
</message>
<message name="showDatabasePlayersListResponse">
<part name="parameters" element="tns:showDatabasePlayersListResponse"/>
</message>
<message name="deleteAllMatchesDatabase">
<part name="parameters" element="tns:deleteAllMatchesDatabase"/>
</message>
<message name="deleteAllMatchesDatabaseResponse">
<part name="parameters" element="tns:deleteAllMatchesDatabaseResponse"/>
</message>
<message name="NotSupportedException">
<part name="fault" element="tns:NotSupportedException"/>
</message>
<message name="SystemException">
<part name="fault" element="tns:SystemException"/>
</message>
<message name="RollbackException">
<part name="fault" element="tns:RollbackException"/>
</message>
<message name="HeuristicMixedException">
<part name="fault" element="tns:HeuristicMixedException"/>
</message>
<message name="HeuristicRollbackException">
<part name="fault" element="tns:HeuristicRollbackException"/>
</message>
<message name="addGuestPlayer">
<part name="parameters" element="tns:addGuestPlayer"/>
</message>
<message name="addGuestPlayerResponse">
<part name="parameters" element="tns:addGuestPlayerResponse"/>
</message>
<message name="addHostPlayer">
<part name="parameters" element="tns:addHostPlayer"/>
</message>
<message name="addHostPlayerResponse">
<part name="parameters" element="tns:addHostPlayerResponse"/>
</message>
<message name="getMatchId">
<part name="parameters" element="tns:getMatchId"/>
</message>
<message name="getMatchIdResponse">
<part name="parameters" element="tns:getMatchIdResponse"/>
</message>
<message name="deleteMatchById">
<part name="parameters" element="tns:deleteMatchById"/>
</message>
<message name="deleteMatchByIdResponse">
<part name="parameters" element="tns:deleteMatchByIdResponse"/>
</message>
<message name="deleteAllMatches">
<part name="parameters" element="tns:deleteAllMatches"/>
</message>
<message name="deleteAllMatchesResponse">
<part name="parameters" element="tns:deleteAllMatchesResponse"/>
</message>
<message name="addNewMatch">
<part name="parameters" element="tns:addNewMatch"/>
</message>
<message name="addNewMatchResponse">
<part name="parameters" element="tns:addNewMatchResponse"/>
</message>
<message name="getMatchTime">
<part name="parameters" element="tns:getMatchTime"/>
</message>
<message name="getMatchTimeResponse">
<part name="parameters" element="tns:getMatchTimeResponse"/>
</message>
<message name="getHostTeamName">
<part name="parameters" element="tns:getHostTeamName"/>
</message>
<message name="getHostTeamNameResponse">
<part name="parameters" element="tns:getHostTeamNameResponse"/>
</message>
<message name="addNewMatchToJPA">
<part name="parameters" element="tns:addNewMatchToJPA"/>
</message>
<message name="addNewMatchToJPAResponse">
<part name="parameters" element="tns:addNewMatchToJPAResponse"/>
</message>
<message name="hasMatchInData">
<part name="parameters" element="tns:hasMatchInData"/>
</message>
<message name="hasMatchInDataResponse">
<part name="parameters" element="tns:hasMatchInDataResponse"/>
</message>
<message name="getGuestTeamName">
<part name="parameters" element="tns:getGuestTeamName"/>
</message>
<message name="getGuestTeamNameResponse">
<part name="parameters" element="tns:getGuestTeamNameResponse"/>
</message>
<message name="getArbiterName">
<part name="parameters" element="tns:getArbiterName"/>
</message>
<message name="getArbiterNameResponse">
<part name="parameters" element="tns:getArbiterNameResponse"/>
</message>
<message name="readMatchFromFileDatabase">
<part name="parameters" element="tns:readMatchFromFileDatabase"/>
</message>
<message name="readMatchFromFileDatabaseResponse">
<part name="parameters" element="tns:readMatchFromFileDatabaseResponse"/>
</message>
<message name="persist">
<part name="parameters" element="tns:persist"/>
</message>
<message name="persistResponse">
<part name="parameters" element="tns:persistResponse"/>
</message>
<message name="teamCreateQuery">
<part name="parameters" element="tns:teamCreateQuery"/>
</message>
<message name="teamCreateQueryResponse">
<part name="parameters" element="tns:teamCreateQueryResponse"/>
</message>
<message name="createDatabase">
<part name="parameters" element="tns:createDatabase"/>
</message>
<message name="createDatabaseResponse">
<part name="parameters" element="tns:createDatabaseResponse"/>
</message>
<message name="getGuestPlayerName">
<part name="parameters" element="tns:getGuestPlayerName"/>
</message>
<message name="getGuestPlayerNameResponse">
<part name="parameters" element="tns:getGuestPlayerNameResponse"/>
</message>
<message name="getHostPlayerScoredGoals">
<part name="parameters" element="tns:getHostPlayerScoredGoals"/>
</message>
<message name="getHostPlayerScoredGoalsResponse">
<part name="parameters" element="tns:getHostPlayerScoredGoalsResponse"/>
</message>
<message name="getHostPlayerLeftTime">
<part name="parameters" element="tns:getHostPlayerLeftTime"/>
</message>
<message name="getHostPlayerLeftTimeResponse">
<part name="parameters" element="tns:getHostPlayerLeftTimeResponse"/>
</message>
<message name="getGuestPlayerPlayedWholeTime">
<part name="parameters" element="tns:getGuestPlayerPlayedWholeTime"/>
</message>
<message name="getGuestPlayerPlayedWholeTimeResponse">
<part name="parameters" element="tns:getGuestPlayerPlayedWholeTimeResponse"/>
</message>
<message name="readDatabaseFromFile">
<part name="parameters" element="tns:readDatabaseFromFile"/>
</message>
<message name="readDatabaseFromFileResponse">
<part name="parameters" element="tns:readDatabaseFromFileResponse"/>
</message>
<message name="WrongInputException">
<part name="fault" element="tns:WrongInputException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="createGuestSoccerTeam">
<part name="parameters" element="tns:createGuestSoccerTeam"/>
</message>
<message name="createGuestSoccerTeamResponse">
<part name="parameters" element="tns:createGuestSoccerTeamResponse"/>
</message>
<message name="saveDatabaseToFile">
<part name="parameters" element="tns:saveDatabaseToFile"/>
</message>
<message name="saveDatabaseToFileResponse">
<part name="parameters" element="tns:saveDatabaseToFileResponse"/>
</message>
<message name="getHostPlayerYellowCards">
<part name="parameters" element="tns:getHostPlayerYellowCards"/>
</message>
<message name="getHostPlayerYellowCardsResponse">
<part name="parameters" element="tns:getHostPlayerYellowCardsResponse"/>
</message>
<message name="getGuestTeamPlayersSize">
<part name="parameters" element="tns:getGuestTeamPlayersSize"/>
</message>
<message name="getGuestTeamPlayersSizeResponse">
<part name="parameters" element="tns:getGuestTeamPlayersSizeResponse"/>
</message>
<message name="getHostPlayerPlayedWholeTime">
<part name="parameters" element="tns:getHostPlayerPlayedWholeTime"/>
</message>
<message name="getHostPlayerPlayedWholeTimeResponse">
<part name="parameters" element="tns:getHostPlayerPlayedWholeTimeResponse"/>
</message>
<message name="getArbitratorAssistantsSize">
<part name="parameters" element="tns:getArbitratorAssistantsSize"/>
</message>
<message name="getArbitratorAssistantsSizeResponse">
<part name="parameters" element="tns:getArbitratorAssistantsSizeResponse"/>
</message>
<message name="getBasicMatchesInfo">
<part name="parameters" element="tns:getBasicMatchesInfo"/>
</message>
<message name="getBasicMatchesInfoResponse">
<part name="parameters" element="tns:getBasicMatchesInfoResponse"/>
</message>
<message name="createHostSoccerTeam">
<part name="parameters" element="tns:createHostSoccerTeam"/>
</message>
<message name="createHostSoccerTeamResponse">
<part name="parameters" element="tns:createHostSoccerTeamResponse"/>
</message>
<message name="getHostPlayerEntryTime">
<part name="parameters" element="tns:getHostPlayerEntryTime"/>
</message>
<message name="getHostPlayerEntryTimeResponse">
<part name="parameters" element="tns:getHostPlayerEntryTimeResponse"/>
</message>
<message name="getGuestPlayerFouls">
<part name="parameters" element="tns:getGuestPlayerFouls"/>
</message>
<message name="getGuestPlayerFoulsResponse">
<part name="parameters" element="tns:getGuestPlayerFoulsResponse"/>
</message>
<message name="getHostPlayerFouls">
<part name="parameters" element="tns:getHostPlayerFouls"/>
</message>
<message name="getHostPlayerFoulsResponse">
<part name="parameters" element="tns:getHostPlayerFoulsResponse"/>
</message>
<message name="getGuestPlayerYellowCards">
<part name="parameters" element="tns:getGuestPlayerYellowCards"/>
</message>
<message name="getGuestPlayerYellowCardsResponse">
<part name="parameters" element="tns:getGuestPlayerYellowCardsResponse"/>
</message>
<message name="getGuestPlayerEntryTime">
<part name="parameters" element="tns:getGuestPlayerEntryTime"/>
</message>
<message name="getGuestPlayerEntryTimeResponse">
<part name="parameters" element="tns:getGuestPlayerEntryTimeResponse"/>
</message>
<message name="getGuestTeamCountryName">
<part name="parameters" element="tns:getGuestTeamCountryName"/>
</message>
<message name="getGuestTeamCountryNameResponse">
<part name="parameters" element="tns:getGuestTeamCountryNameResponse"/>
</message>
<message name="getNumberOfMatches">
<part name="parameters" element="tns:getNumberOfMatches"/>
</message>
<message name="getNumberOfMatchesResponse">
<part name="parameters" element="tns:getNumberOfMatchesResponse"/>
</message>
<message name="getHostPlayerName">
<part name="parameters" element="tns:getHostPlayerName"/>
</message>
<message name="getHostPlayerNameResponse">
<part name="parameters" element="tns:getHostPlayerNameResponse"/>
</message>
<message name="getHostPlayerRedCard">
<part name="parameters" element="tns:getHostPlayerRedCard"/>
</message>
<message name="getHostPlayerRedCardResponse">
<part name="parameters" element="tns:getHostPlayerRedCardResponse"/>
</message>
<message name="getGuestPlayerRedCard">
<part name="parameters" element="tns:getGuestPlayerRedCard"/>
</message>
<message name="getGuestPlayerRedCardResponse">
<part name="parameters" element="tns:getGuestPlayerRedCardResponse"/>
</message>
<message name="getHostTeamCoachName">
<part name="parameters" element="tns:getHostTeamCoachName"/>
</message>
<message name="getHostTeamCoachNameResponse">
<part name="parameters" element="tns:getHostTeamCoachNameResponse"/>
</message>
<message name="getHostTeamCountryName">
<part name="parameters" element="tns:getHostTeamCountryName"/>
</message>
<message name="getHostTeamCountryNameResponse">
<part name="parameters" element="tns:getHostTeamCountryNameResponse"/>
</message>
<message name="getGuestPlayerScoredGoals">
<part name="parameters" element="tns:getGuestPlayerScoredGoals"/>
</message>
<message name="getGuestPlayerScoredGoalsResponse">
<part name="parameters" element="tns:getGuestPlayerScoredGoalsResponse"/>
</message>
<message name="getGuestPlayerLeftTime">
<part name="parameters" element="tns:getGuestPlayerLeftTime"/>
</message>
<message name="getGuestPlayerLeftTimeResponse">
<part name="parameters" element="tns:getGuestPlayerLeftTimeResponse"/>
</message>
<message name="getHostTeamPlayersSize">
<part name="parameters" element="tns:getHostTeamPlayersSize"/>
</message>
<message name="getHostTeamPlayersSizeResponse">
<part name="parameters" element="tns:getHostTeamPlayersSizeResponse"/>
</message>
<message name="getGuestTeamCoachName">
<part name="parameters" element="tns:getGuestTeamCoachName"/>
</message>
<message name="getGuestTeamCoachNameResponse">
<part name="parameters" element="tns:getGuestTeamCoachNameResponse"/>
</message>
<message name="getArbitratorAssistantName">
<part name="parameters" element="tns:getArbitratorAssistantName"/>
</message>
<message name="getArbitratorAssistantNameResponse">
<part name="parameters" element="tns:getArbitratorAssistantNameResponse"/>
</message>
<message name="matchesCreateQuery">
<part name="parameters" element="tns:matchesCreateQuery"/>
</message>
<message name="matchesCreateQueryResponse">
<part name="parameters" element="tns:matchesCreateQueryResponse"/>
</message>
<message name="arbitersCreateQuery">
<part name="parameters" element="tns:arbitersCreateQuery"/>
</message>
<message name="arbitersCreateQueryResponse">
<part name="parameters" element="tns:arbitersCreateQueryResponse"/>
</message>
<message name="deleteOneMatchDatabase">
<part name="parameters" element="tns:deleteOneMatchDatabase"/>
</message>
<message name="deleteOneMatchDatabaseResponse">
<part name="parameters" element="tns:deleteOneMatchDatabaseResponse"/>
</message>
<message name="playerCreateQuery">
<part name="parameters" element="tns:playerCreateQuery"/>
</message>
<message name="playerCreateQueryResponse">
<part name="parameters" element="tns:playerCreateQueryResponse"/>
</message>
<portType name="ManageContainerService">
<operation name="showDatabaseMatchesList">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/showDatabaseMatchesListRequest" message="tns:showDatabaseMatchesList"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/showDatabaseMatchesListResponse" message="tns:showDatabaseMatchesListResponse"/>
</operation>
<operation name="showDatabaseArbitersList">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/showDatabaseArbitersListRequest" message="tns:showDatabaseArbitersList"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/showDatabaseArbitersListResponse" message="tns:showDatabaseArbitersListResponse"/>
</operation>
<operation name="showDatabaseTeamList">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/showDatabaseTeamListRequest" message="tns:showDatabaseTeamList"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/showDatabaseTeamListResponse" message="tns:showDatabaseTeamListResponse"/>
</operation>
<operation name="showDatabasePlayersList">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/showDatabasePlayersListRequest" message="tns:showDatabasePlayersList"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/showDatabasePlayersListResponse" message="tns:showDatabasePlayersListResponse"/>
</operation>
<operation name="deleteAllMatchesDatabase">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/deleteAllMatchesDatabaseRequest" message="tns:deleteAllMatchesDatabase"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/deleteAllMatchesDatabaseResponse" message="tns:deleteAllMatchesDatabaseResponse"/>
<fault message="tns:NotSupportedException" name="NotSupportedException" wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/deleteAllMatchesDatabase/Fault/NotSupportedException"/>
<fault message="tns:SystemException" name="SystemException" wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/deleteAllMatchesDatabase/Fault/SystemException"/>
<fault message="tns:RollbackException" name="RollbackException" wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/deleteAllMatchesDatabase/Fault/RollbackException"/>
<fault message="tns:HeuristicMixedException" name="HeuristicMixedException" wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/deleteAllMatchesDatabase/Fault/HeuristicMixedException"/>
<fault message="tns:HeuristicRollbackException" name="HeuristicRollbackException" wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/deleteAllMatchesDatabase/Fault/HeuristicRollbackException"/>
</operation>
<operation name="addGuestPlayer">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/addGuestPlayerRequest" message="tns:addGuestPlayer"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/addGuestPlayerResponse" message="tns:addGuestPlayerResponse"/>
</operation>
<operation name="addHostPlayer">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/addHostPlayerRequest" message="tns:addHostPlayer"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/addHostPlayerResponse" message="tns:addHostPlayerResponse"/>
</operation>
<operation name="getMatchId">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getMatchIdRequest" message="tns:getMatchId"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getMatchIdResponse" message="tns:getMatchIdResponse"/>
</operation>
<operation name="deleteMatchById">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/deleteMatchByIdRequest" message="tns:deleteMatchById"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/deleteMatchByIdResponse" message="tns:deleteMatchByIdResponse"/>
</operation>
<operation name="deleteAllMatches">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/deleteAllMatchesRequest" message="tns:deleteAllMatches"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/deleteAllMatchesResponse" message="tns:deleteAllMatchesResponse"/>
</operation>
<operation name="addNewMatch">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/addNewMatchRequest" message="tns:addNewMatch"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/addNewMatchResponse" message="tns:addNewMatchResponse"/>
</operation>
<operation name="getMatchTime">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getMatchTimeRequest" message="tns:getMatchTime"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getMatchTimeResponse" message="tns:getMatchTimeResponse"/>
</operation>
<operation name="getHostTeamName">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostTeamNameRequest" message="tns:getHostTeamName"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostTeamNameResponse" message="tns:getHostTeamNameResponse"/>
</operation>
<operation name="addNewMatchToJPA">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/addNewMatchToJPARequest" message="tns:addNewMatchToJPA"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/addNewMatchToJPAResponse" message="tns:addNewMatchToJPAResponse"/>
</operation>
<operation name="hasMatchInData">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/hasMatchInDataRequest" message="tns:hasMatchInData"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/hasMatchInDataResponse" message="tns:hasMatchInDataResponse"/>
</operation>
<operation name="getGuestTeamName">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestTeamNameRequest" message="tns:getGuestTeamName"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestTeamNameResponse" message="tns:getGuestTeamNameResponse"/>
</operation>
<operation name="getArbiterName">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getArbiterNameRequest" message="tns:getArbiterName"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getArbiterNameResponse" message="tns:getArbiterNameResponse"/>
</operation>
<operation name="readMatchFromFileDatabase">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/readMatchFromFileDatabaseRequest" message="tns:readMatchFromFileDatabase"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/readMatchFromFileDatabaseResponse" message="tns:readMatchFromFileDatabaseResponse"/>
<fault message="tns:NotSupportedException" name="NotSupportedException" wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/readMatchFromFileDatabase/Fault/NotSupportedException"/>
<fault message="tns:SystemException" name="SystemException" wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/readMatchFromFileDatabase/Fault/SystemException"/>
<fault message="tns:RollbackException" name="RollbackException" wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/readMatchFromFileDatabase/Fault/RollbackException"/>
<fault message="tns:HeuristicMixedException" name="HeuristicMixedException" wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/readMatchFromFileDatabase/Fault/HeuristicMixedException"/>
<fault message="tns:HeuristicRollbackException" name="HeuristicRollbackException" wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/readMatchFromFileDatabase/Fault/HeuristicRollbackException"/>
</operation>
<operation name="persist">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/persistRequest" message="tns:persist"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/persistResponse" message="tns:persistResponse"/>
</operation>
<operation name="teamCreateQuery">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/teamCreateQueryRequest" message="tns:teamCreateQuery"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/teamCreateQueryResponse" message="tns:teamCreateQueryResponse"/>
</operation>
<operation name="createDatabase">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/createDatabaseRequest" message="tns:createDatabase"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/createDatabaseResponse" message="tns:createDatabaseResponse"/>
</operation>
<operation name="getGuestPlayerName">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestPlayerNameRequest" message="tns:getGuestPlayerName"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestPlayerNameResponse" message="tns:getGuestPlayerNameResponse"/>
</operation>
<operation name="getHostPlayerScoredGoals">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostPlayerScoredGoalsRequest" message="tns:getHostPlayerScoredGoals"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostPlayerScoredGoalsResponse" message="tns:getHostPlayerScoredGoalsResponse"/>
</operation>
<operation name="getHostPlayerLeftTime">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostPlayerLeftTimeRequest" message="tns:getHostPlayerLeftTime"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostPlayerLeftTimeResponse" message="tns:getHostPlayerLeftTimeResponse"/>
</operation>
<operation name="getGuestPlayerPlayedWholeTime">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestPlayerPlayedWholeTimeRequest" message="tns:getGuestPlayerPlayedWholeTime"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestPlayerPlayedWholeTimeResponse" message="tns:getGuestPlayerPlayedWholeTimeResponse"/>
</operation>
<operation name="readDatabaseFromFile">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/readDatabaseFromFileRequest" message="tns:readDatabaseFromFile"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/readDatabaseFromFileResponse" message="tns:readDatabaseFromFileResponse"/>
<fault message="tns:WrongInputException" name="WrongInputException" wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/readDatabaseFromFile/Fault/WrongInputException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/readDatabaseFromFile/Fault/IOException"/>
</operation>
<operation name="createGuestSoccerTeam">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/createGuestSoccerTeamRequest" message="tns:createGuestSoccerTeam"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/createGuestSoccerTeamResponse" message="tns:createGuestSoccerTeamResponse"/>
</operation>
<operation name="saveDatabaseToFile">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/saveDatabaseToFileRequest" message="tns:saveDatabaseToFile"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/saveDatabaseToFileResponse" message="tns:saveDatabaseToFileResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/saveDatabaseToFile/Fault/IOException"/>
</operation>
<operation name="getHostPlayerYellowCards">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostPlayerYellowCardsRequest" message="tns:getHostPlayerYellowCards"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostPlayerYellowCardsResponse" message="tns:getHostPlayerYellowCardsResponse"/>
</operation>
<operation name="getGuestTeamPlayersSize">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestTeamPlayersSizeRequest" message="tns:getGuestTeamPlayersSize"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestTeamPlayersSizeResponse" message="tns:getGuestTeamPlayersSizeResponse"/>
</operation>
<operation name="getHostPlayerPlayedWholeTime">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostPlayerPlayedWholeTimeRequest" message="tns:getHostPlayerPlayedWholeTime"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostPlayerPlayedWholeTimeResponse" message="tns:getHostPlayerPlayedWholeTimeResponse"/>
</operation>
<operation name="getArbitratorAssistantsSize">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getArbitratorAssistantsSizeRequest" message="tns:getArbitratorAssistantsSize"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getArbitratorAssistantsSizeResponse" message="tns:getArbitratorAssistantsSizeResponse"/>
</operation>
<operation name="getBasicMatchesInfo">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getBasicMatchesInfoRequest" message="tns:getBasicMatchesInfo"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getBasicMatchesInfoResponse" message="tns:getBasicMatchesInfoResponse"/>
</operation>
<operation name="createHostSoccerTeam">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/createHostSoccerTeamRequest" message="tns:createHostSoccerTeam"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/createHostSoccerTeamResponse" message="tns:createHostSoccerTeamResponse"/>
</operation>
<operation name="getHostPlayerEntryTime">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostPlayerEntryTimeRequest" message="tns:getHostPlayerEntryTime"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostPlayerEntryTimeResponse" message="tns:getHostPlayerEntryTimeResponse"/>
</operation>
<operation name="getGuestPlayerFouls">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestPlayerFoulsRequest" message="tns:getGuestPlayerFouls"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestPlayerFoulsResponse" message="tns:getGuestPlayerFoulsResponse"/>
</operation>
<operation name="getHostPlayerFouls">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostPlayerFoulsRequest" message="tns:getHostPlayerFouls"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostPlayerFoulsResponse" message="tns:getHostPlayerFoulsResponse"/>
</operation>
<operation name="getGuestPlayerYellowCards">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestPlayerYellowCardsRequest" message="tns:getGuestPlayerYellowCards"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestPlayerYellowCardsResponse" message="tns:getGuestPlayerYellowCardsResponse"/>
</operation>
<operation name="getGuestPlayerEntryTime">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestPlayerEntryTimeRequest" message="tns:getGuestPlayerEntryTime"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestPlayerEntryTimeResponse" message="tns:getGuestPlayerEntryTimeResponse"/>
</operation>
<operation name="getGuestTeamCountryName">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestTeamCountryNameRequest" message="tns:getGuestTeamCountryName"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestTeamCountryNameResponse" message="tns:getGuestTeamCountryNameResponse"/>
</operation>
<operation name="getNumberOfMatches">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getNumberOfMatchesRequest" message="tns:getNumberOfMatches"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getNumberOfMatchesResponse" message="tns:getNumberOfMatchesResponse"/>
</operation>
<operation name="getHostPlayerName">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostPlayerNameRequest" message="tns:getHostPlayerName"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostPlayerNameResponse" message="tns:getHostPlayerNameResponse"/>
</operation>
<operation name="getHostPlayerRedCard">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostPlayerRedCardRequest" message="tns:getHostPlayerRedCard"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostPlayerRedCardResponse" message="tns:getHostPlayerRedCardResponse"/>
</operation>
<operation name="getGuestPlayerRedCard">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestPlayerRedCardRequest" message="tns:getGuestPlayerRedCard"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestPlayerRedCardResponse" message="tns:getGuestPlayerRedCardResponse"/>
</operation>
<operation name="getHostTeamCoachName">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostTeamCoachNameRequest" message="tns:getHostTeamCoachName"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostTeamCoachNameResponse" message="tns:getHostTeamCoachNameResponse"/>
</operation>
<operation name="getHostTeamCountryName">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostTeamCountryNameRequest" message="tns:getHostTeamCountryName"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostTeamCountryNameResponse" message="tns:getHostTeamCountryNameResponse"/>
</operation>
<operation name="getGuestPlayerScoredGoals">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestPlayerScoredGoalsRequest" message="tns:getGuestPlayerScoredGoals"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestPlayerScoredGoalsResponse" message="tns:getGuestPlayerScoredGoalsResponse"/>
</operation>
<operation name="getGuestPlayerLeftTime">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestPlayerLeftTimeRequest" message="tns:getGuestPlayerLeftTime"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestPlayerLeftTimeResponse" message="tns:getGuestPlayerLeftTimeResponse"/>
</operation>
<operation name="getHostTeamPlayersSize">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostTeamPlayersSizeRequest" message="tns:getHostTeamPlayersSize"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getHostTeamPlayersSizeResponse" message="tns:getHostTeamPlayersSizeResponse"/>
</operation>
<operation name="getGuestTeamCoachName">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestTeamCoachNameRequest" message="tns:getGuestTeamCoachName"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getGuestTeamCoachNameResponse" message="tns:getGuestTeamCoachNameResponse"/>
</operation>
<operation name="getArbitratorAssistantName">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getArbitratorAssistantNameRequest" message="tns:getArbitratorAssistantName"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/getArbitratorAssistantNameResponse" message="tns:getArbitratorAssistantNameResponse"/>
</operation>
<operation name="matchesCreateQuery">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/matchesCreateQueryRequest" message="tns:matchesCreateQuery"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/matchesCreateQueryResponse" message="tns:matchesCreateQueryResponse"/>
</operation>
<operation name="arbitersCreateQuery">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/arbitersCreateQueryRequest" message="tns:arbitersCreateQuery"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/arbitersCreateQueryResponse" message="tns:arbitersCreateQueryResponse"/>
</operation>
<operation name="deleteOneMatchDatabase">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/deleteOneMatchDatabaseRequest" message="tns:deleteOneMatchDatabase"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/deleteOneMatchDatabaseResponse" message="tns:deleteOneMatchDatabaseResponse"/>
<fault message="tns:NotSupportedException" name="NotSupportedException" wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/deleteOneMatchDatabase/Fault/NotSupportedException"/>
<fault message="tns:SystemException" name="SystemException" wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/deleteOneMatchDatabase/Fault/SystemException"/>
<fault message="tns:RollbackException" name="RollbackException" wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/deleteOneMatchDatabase/Fault/RollbackException"/>
<fault message="tns:HeuristicMixedException" name="HeuristicMixedException" wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/deleteOneMatchDatabase/Fault/HeuristicMixedException"/>
<fault message="tns:HeuristicRollbackException" name="HeuristicRollbackException" wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/deleteOneMatchDatabase/Fault/HeuristicRollbackException"/>
</operation>
<operation name="playerCreateQuery">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/playerCreateQueryRequest" message="tns:playerCreateQuery"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/playerCreateQueryResponse" message="tns:playerCreateQueryResponse"/>
</operation>
</portType>
<binding name="ManageContainerServicePortBinding" type="tns:ManageContainerService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="showDatabaseMatchesList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showDatabaseArbitersList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showDatabaseTeamList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showDatabasePlayersList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAllMatchesDatabase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NotSupportedException">
<soap:fault name="NotSupportedException" use="literal"/>
</fault>
<fault name="SystemException">
<soap:fault name="SystemException" use="literal"/>
</fault>
<fault name="RollbackException">
<soap:fault name="RollbackException" use="literal"/>
</fault>
<fault name="HeuristicMixedException">
<soap:fault name="HeuristicMixedException" use="literal"/>
</fault>
<fault name="HeuristicRollbackException">
<soap:fault name="HeuristicRollbackException" use="literal"/>
</fault>
</operation>
<operation name="addGuestPlayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addHostPlayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMatchId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMatchById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAllMatches">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewMatch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMatchTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHostTeamName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewMatchToJPA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hasMatchInData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGuestTeamName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getArbiterName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readMatchFromFileDatabase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NotSupportedException">
<soap:fault name="NotSupportedException" use="literal"/>
</fault>
<fault name="SystemException">
<soap:fault name="SystemException" use="literal"/>
</fault>
<fault name="RollbackException">
<soap:fault name="RollbackException" use="literal"/>
</fault>
<fault name="HeuristicMixedException">
<soap:fault name="HeuristicMixedException" use="literal"/>
</fault>
<fault name="HeuristicRollbackException">
<soap:fault name="HeuristicRollbackException" use="literal"/>
</fault>
</operation>
<operation name="persist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="teamCreateQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createDatabase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGuestPlayerName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHostPlayerScoredGoals">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHostPlayerLeftTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGuestPlayerPlayedWholeTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readDatabaseFromFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WrongInputException">
<soap:fault name="WrongInputException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="createGuestSoccerTeam">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveDatabaseToFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="getHostPlayerYellowCards">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGuestTeamPlayersSize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHostPlayerPlayedWholeTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getArbitratorAssistantsSize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBasicMatchesInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createHostSoccerTeam">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHostPlayerEntryTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGuestPlayerFouls">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHostPlayerFouls">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGuestPlayerYellowCards">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGuestPlayerEntryTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGuestTeamCountryName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNumberOfMatches">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHostPlayerName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHostPlayerRedCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGuestPlayerRedCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHostTeamCoachName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHostTeamCountryName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGuestPlayerScoredGoals">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGuestPlayerLeftTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHostTeamPlayersSize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGuestTeamCoachName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getArbitratorAssistantName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="matchesCreateQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="arbitersCreateQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteOneMatchDatabase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NotSupportedException">
<soap:fault name="NotSupportedException" use="literal"/>
</fault>
<fault name="SystemException">
<soap:fault name="SystemException" use="literal"/>
</fault>
<fault name="RollbackException">
<soap:fault name="RollbackException" use="literal"/>
</fault>
<fault name="HeuristicMixedException">
<soap:fault name="HeuristicMixedException" use="literal"/>
</fault>
<fault name="HeuristicRollbackException">
<soap:fault name="HeuristicRollbackException" use="literal"/>
</fault>
</operation>
<operation name="playerCreateQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ManageContainerService">
<port name="ManageContainerServicePort" binding="tns:ManageContainerServicePortBinding">
<soap:address location="http://localhost:8080/MatchStatisticsWebService/ManageContainerService"/>
</port>
</service>
</definitions>