MatchStatistics6-WebServices+JPA/MatchStatisticsClient/web/WEB-INF/wsdl/localhost_8080/MatchStatisticsWebService/AddNewMatchService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webServices.salicki.pawel.lab6.polsl.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webServices.salicki.pawel.lab6.polsl.pl/" name="AddNewMatchService">
<types>
<xsd:schema>
<xsd:import namespace="http://webServices.salicki.pawel.lab6.polsl.pl/" schemaLocation="http://localhost:8080/MatchStatisticsWebService/AddNewMatchService?xsd=1"/>
</xsd:schema>
</types>
<message name="addHostPlayer">
<part name="parameters" element="tns:addHostPlayer"/>
</message>
<message name="addHostPlayerResponse">
<part name="parameters" element="tns:addHostPlayerResponse"/>
</message>
<message name="addGuestPlayer">
<part name="parameters" element="tns:addGuestPlayer"/>
</message>
<message name="addGuestPlayerResponse">
<part name="parameters" element="tns:addGuestPlayerResponse"/>
</message>
<message name="createGuestSoccerTeam">
<part name="parameters" element="tns:createGuestSoccerTeam"/>
</message>
<message name="createGuestSoccerTeamResponse">
<part name="parameters" element="tns:createGuestSoccerTeamResponse"/>
</message>
<message name="createHostSoccerTeam">
<part name="parameters" element="tns:createHostSoccerTeam"/>
</message>
<message name="createHostSoccerTeamResponse">
<part name="parameters" element="tns:createHostSoccerTeamResponse"/>
</message>
<portType name="ManageContainerService">
<operation name="addHostPlayer">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/addHostPlayerRequest" message="tns:addHostPlayer"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/addHostPlayerResponse" message="tns:addHostPlayerResponse"/>
</operation>
<operation name="addGuestPlayer">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/addGuestPlayerRequest" message="tns:addGuestPlayer"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/addGuestPlayerResponse" message="tns:addGuestPlayerResponse"/>
</operation>
<operation name="createGuestSoccerTeam">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/createGuestSoccerTeamRequest" message="tns:createGuestSoccerTeam"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/createGuestSoccerTeamResponse" message="tns:createGuestSoccerTeamResponse"/>
</operation>
<operation name="createHostSoccerTeam">
<input wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/createHostSoccerTeamRequest" message="tns:createHostSoccerTeam"/>
<output wsam:Action="http://webServices.salicki.pawel.lab6.polsl.pl/ManageContainerService/createHostSoccerTeamResponse" message="tns:createHostSoccerTeamResponse"/>
</operation>
</portType>
<binding name="ManageContainerServicePortBinding" type="tns:ManageContainerService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addHostPlayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addGuestPlayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createGuestSoccerTeam">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createHostSoccerTeam">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AddNewMatchService">
<port name="ManageContainerServicePort" binding="tns:ManageContainerServicePortBinding">
<soap:address location="http://localhost:8080/MatchStatisticsWebService/AddNewMatchService"/>
</port>
</service>
</definitions>